{% for wfc in wfc_list%}
{% if not wfc.is_capture_app %}
<tr class="{{ wfc.user_can_view }}" href="/workforce/view_wfc?person_id_int={{wfc.id_int}}" style="{{ wfc.user_can_view_cursor }}">
    {{ else }}
<tr>
    {% endif %}
    <td>{{ wfc.user_id }}</td>
    <td>{{ wfc.name|truncatechars:40 }}</td>
    <td>{{ wfc.person_type|truncatechars:40 }}</td>
    <td>{{ wfc.primary_org_unit_name }}</td>
    <td>{{ wfc.location }}</td>
    {% if not wfc.is_capture_app %}
    <td>
        <span style="display:{{wfc.user_can_edit}}">
            <a href="/workforce/update_wfc?person_id={{wfc.id_int}}" class="btn btn-primary btn-xs">
                <i class="fa fa-edit"></i>&nbsp;Update
            </a>
        </span>
        <span style="display:{{wfc.user_can_assign_role}}">
            <a href="/allocate_role?workforceid={{wfc.id_int}}" class="btn btn-warning btn-xs">
                <i class="fa fa-lock"></i>&nbsp;Allocate role
            </a>
        </span>
    </td>
    {% endif %}
</tr>
{% endfor %}


